$color-footer-nav: rgba(0, 0, 255, 0.257);
$color-letra: rgba(0, 0, 0, 0.843);
$color-boton: rgba(74, 88, 48, 0.899);
$color-hover-boton: rgba(255, 166, 0, 0.824);
$color-logo: orange;
$color-letra-blanca: white;


@import "./base/mixins";
@import "./base/header";
@import "./base/body";
@import "./base/footer";
@import "./MQueries/mediasq";
@import "./base/404";



